/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');

/* Reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif !important;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
/* Titulos */
h1 {
    text-align: center;
    background-color: #009fe3;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
}
/* Configuracion del index */
.grid-index {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: stretch;
    grid-template-areas:
        "seccion1 seccion2 seccion3";
}

.seccion2 {
    grid-area: seccion2;
}

.seccion1 {
    grid-area: seccion1;
}

.seccion3 {
    grid-area: seccion3;
}

.seccion1,
.seccion2,
.seccion3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}
.seccion2 img{
    padding-bottom: 1px;
}
p{
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/* Banner index */
#main-index img {
    width: 100%;
}

/* Footer */
#footer {
    background-image: url(../resources/image/index/fondo-footer.jpg);
    background-repeat: repeat;
    width: 100%;
}

.grid-footer {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "redes datos ubicacion";
}

.redes {
    grid-area: redes;
}

.datos {
    grid-area: datos;
}

.ubicacion {
    grid-area: ubicacion;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacion {
    display: flex;
    justify-content: center;
}

/* Quienes somos */
.quienes-somos-flex {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

.quienes-somos-flex img {
    height: 350px;
    padding: 30px;
}

.quienes-somos-flex p {
    width: 350px;
}

/* Productos */
#main-productos img {
    width: 1903px;
}

#main-productos section img {
    width: 400px;
}

.article-flex-main-productos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

/* Cursos */
#main-cursos img {
    width: 1903px;
}

#main-cursos section img {
    width: 400px;
}

.article-flex-main-cursos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    align-items: flex-end;
}

/* Contacto */
#main-contacto img {
    width: 300px;
    padding: 5px;
}

.div-contacto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.form-contacto {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #009fe3;
    border-radius: 10px;
    flex-direction: column;
}

.form-contacto p {
    padding: 20px;
    font-weight: bold;
}

.separacion-imput {
    margin: 5px;
}
.separacion-imput:focus{
    background-color: rgb(242, 255, 65);
}
@media (max-width: 1024px) {
    #main-contacto img {
        width: 200px;
    }

    .form-contacto {
        width: 300px;
        padding: 3px;
    }
}
@media (max-width: 768px){
    .datos{
        font-size: 15px;
    }
    h3{
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    .grid-footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "redes"
            "datos"
            "ubicacion";
    }
    .redes{
        flex-direction: row;
        padding: 10px;
    }
    #main-contacto img {
        display: none;
    }

    h1 {
        font-size: 37px;
    }
}

@media (max-width: 450px) {
    .grid-index {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: space-between;
        align-items: center;
        grid-template-areas:
            "seccion1"
            "seccion2"
            "seccion3"
    }
    .redes{
        flex-direction: row;
        padding: 10px;
    }

    h1 {
        font-size: 25px
    }
}